<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%=link_to "Events Feed", events_path%>

<%if current_user == @user%>
<h2>You are seeing your profile</h2>

<%else%>
<h2>You are seeing <%=@user.name.capitalize%> profile</h2>
<%end%>

<%=image_tag("logo.jpg", alt:"test text")%>

<h3>All events created by <%=@user.name.capitalize%>:</h3>
<%= render partial: "shared/list_events", object:@user.events_created, print_date: false%>


<h3>Events to attend</h3>
<%future_events = @invited_events.where("date > :current_date", {current_date: Date.current})%>
<%=render partial:"shared/list_events", object: future_events %>


<h3>Events attended</h3>
<%past_events = @invited_events.where("date <= :current_date", {current_date: Date.current})%>
<%=render partial:"shared/list_events", object: past_events%> 