<div class="event">
    <h3><%= event.name.capitalize %></h3>
    <div><%= event.date %></div>
    <div><%= event.location.capitalize %></div>
    <% unless current_page?(event_path(event)) %>
        <div><%= link_to "Link", event_path(event)%></div>
    <%end%>
    <%if current_user != event.creator%>
        <div>
            <div>You are invited:</div>
            <%=button_to "Accept", controller:"invitations", action: "create", params:{event:event} %>
            <%#the route is invitation DELETE /invitations/:id(.:format) invitations#destroy %>
            <%=button_to "Decline", {controller: :invitations, action: "destroy", id:event},method: :delete %>
        </div>
    <%else%>
        <div>
            <div>You are the creator:</div>
            <%=button_to "Edit Event", edit_event_path(event), method: :get %>

            <%=button_to "Delete Event", {controller: :events, action: "destroy", id:event},method: :delete , data: {confirm: "Are you sure you want to delete the event?" }%>
        </div>
    <%end%>
</div>