<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<%=render "shared/session_handler"%>
<%=link_to "See all users", users_path%>


<h2>All Events</h2>
<%=link_to "Create event",  new_event_path %>
<div class="calendar">
<%@events.sort_by(&:date).each do |event|%>
    <%=render event %>
<%end%>
</div>
<h3>Total:<%=@events.count%></h3>
<div><strong>Upcoming:</strong><%=Event.upcoming.count%></div>
<div><strong>Pasted:</strong><%=Event.past.count%></div>

