<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>

<%=render "shared/session_handler"%>
<%=link_to "Events Feed", events_path%>
<%=render @event%>

<h2>Host: <%=render @host%></h2>

<h2>List of Attendees:</h2>
<%unless @attendees.empty?%>
<ul>
    <%@attendees.each do |attendee|%>
    <li><%=render attendee %></li>
    <%end%>
</ul>
<%else%>
<p>No attendees yet</p>
<%end%>